.green {
    background-color: 
green;
    width: 100px;
    height: 100px;
}
.blue {
    background-color: 
blue;
    width: 100px;
    height: 100px;
}
.h1{
    background-color: red;
}
.h2{
    background-color: aqua;
}
.proifile{
    width: 100%;
}
.proifile img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.card{
    background-color: rgba(248, 238, 238, 0.945)
}
.card1{
    background-color: rgba(0, 255, 255, 0.884)
}

.h3{
    visibility: hidden;
}
.box1{
    background-color: blue;
    height: 250px;
    width: 350px;
}
.box2{
    background-color: red;
    color: white;
}
/* new tetx */
p{
    font-size: 35px;
    /* color: aqua; */
    background-color: red;
}
.p1{
    font-size: 20px;
    color: red;
    background-color: aqua;
}
.class3{
color: rgb(228, 231, 7);
}